.actionbtns {
  display: flex;
}
.actionbtns * {
  margin: 0 0.2rem;
}
.common-p-side {
  display: flex;
}
.shippinginfoadmin {
  margin-left: 1rem;
}
.dis.p-side.shippinginfoadmin {
  font-size: 2rem;
}
.remaincount.adminprodcard {
  align-items: center;
}
.actionbtns .smallsvgbtncont {
  display: inline-block;
}
.smallsvgbtncont a {
  display: block;
}
